{
.appVersion = "3520";
.formatVersion = 3;
customParameters = (
{
name = fsType;
value = (
0
);
}
);
date = "2026-04-08 15:07:25 +0000";
familyName = "Vm Test";
fontMaster = (
{
id = m01;
metricValues = (
{
over = 16;
pos = 800;
},
{
over = 16;
pos = 700;
},
{
over = 16;
pos = 500;
},
{
over = -16;
},
{
over = -16;
pos = -200;
},
{
}
);
name = Regular;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
}
);
properties = (
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright ArrowType 2026 (https://github.com/arrowtype/vertical-metrics). Font derived from Recursive (github.com/arrowtype/recursive).";
}
);
},
{
key = licenses;
values = (
{
language = dflt;
value = "This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL";
}
);
},
{
key = vendorID;
value = "@";
}
);
unitsPerEm = 1000;
versionMajor = 1;
versionMinor = 0;
}
