{
.appVersion = "3523";
.formatVersion = 3;
customParameters = (
{
name = fsType;
value = (
0
);
}
);
date = "2026-04-08 15:07:25 +0000";
familyName = "Vm Test";
fontMaster = (
{
id = m01;
metricValues = (
{
over = 16;
pos = 750;
},
{
over = 16;
pos = 700;
},
{
over = 16;
pos = 540;
},
{
over = -16;
},
{
over = -16;
pos = -200;
},
{
}
);
name = Regular;
}
);
instances = (
{
customParameters = (
{
name = typoAscender;
value = 1126;
},
{
name = typoDescender;
value = -426;
},
{
name = typoLineGap;
value = 0;
},
{
name = winAscent;
value = 1126;
},
{
name = winDescent;
value = 411;
},
{
name = hheaAscender;
value = 1126;
},
{
name = hheaDescender;
value = -426;
},
{
name = hheaLineGap;
value = 0;
},
{
name = "Use Typo Metrics";
value = 1;
},
{
name = "Rename Glyphs";
value = (
"question.gf=question"
);
},
{
name = "Remove Glyphs";
value = (
"question.*"
);
}
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
properties = (
{
key = familyNames;
values = (
{
language = dflt;
value = "Vm Test 2026 GF";
}
);
}
);
},
{
customParameters = (
{
name = typoAscender;
value = 980;
},
{
name = typoDescender;
value = -280;
},
{
name = typoLineGap;
value = 0;
},
{
name = winAscent;
value = 1126;
},
{
name = winDescent;
value = 411;
},
{
name = hheaAscender;
value = 980;
},
{
name = hheaDescender;
value = -280;
},
{
name = hheaLineGap;
value = 0;
},
{
name = "Use Typo Metrics";
value = 1;
},
{
name = "Rename Glyphs";
value = (
"question.gfmin=question"
);
},
{
name = "Remove Glyphs";
value = (
"question.*"
);
}
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
properties = (
{
key = familyNames;
values = (
{
language = dflt;
value = "Vm Test 2026 GF Min";
}
);
}
);
},
{
customParameters = (
{
name = hheaAscender;
value = 980;
},
{
name = hheaDescender;
value = -280;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoAscender;
value = 700;
},
{
name = typoDescender;
value = -280;
},
{
name = typoLineGap;
value = 280;
},
{
name = winAscent;
value = 1126;
},
{
name = winDescent;
value = 411;
},
{
name = "Use Typo Metrics";
value = 0;
},
{
name = "Rename Glyphs";
value = (
"question.gfminalt=question"
);
},
{
name = "Remove Glyphs";
value = (
"question.*"
);
}
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
properties = (
{
key = familyNames;
values = (
{
language = dflt;
value = "Vm Test 2026 GF Min Alt";
}
);
}
);
},
{
customParameters = (
{
name = hheaAscender;
value = 1050;
},
{
name = hheaDescender;
value = -350;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoAscender;
value = 700;
},
{
name = typoDescender;
value = -350;
},
{
name = typoLineGap;
value = 350;
},
{
name = winAscent;
value = 1126;
},
{
name = winDescent;
value = 411;
},
{
name = "Use Typo Metrics";
value = 0;
},
{
name = "Rename Glyphs";
value = (
"question.t1400=question"
);
},
{
name = "Remove Glyphs";
value = (
"question.*"
);
}
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
properties = (
{
key = familyNames;
values = (
{
language = dflt;
value = "Vm Test 2026 Target 1400";
}
);
}
);
},
{
customParameters = (
{
name = hheaAscender;
value = 1050;
},
{
name = hheaDescender;
value = -350;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoAscender;
value = 700;
},
{
name = typoDescender;
value = -350;
},
{
name = typoLineGap;
value = 350;
},
{
name = winAscent;
value = 1050;
},
{
name = winDescent;
value = 350;
},
{
name = "Use Typo Metrics";
value = 0;
},
{
name = "Rename Glyphs";
value = (
"question.t1400B=question"
);
},
{
name = "Remove Glyphs";
value = (
"question.*"
);
}
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
properties = (
{
key = familyNames;
values = (
{
language = dflt;
value = "Vm Test 2026 Target 1400 B";
}
);
}
);
},
{
customParameters = (
{
name = "Rename Glyphs";
value = (
"question.glyphsapp=question"
);
},
{
name = "Remove Glyphs";
value = (
"question.*"
);
}
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
properties = (
{
key = familyNames;
values = (
{
language = dflt;
value = "Vm Test 2026 Glyphs Dflt";
}
);
}
);
},
{
customParameters = (
{
name = "Rename Glyphs";
value = (
"question.glyphsapp=question"
);
},
{
name = "Remove Glyphs";
value = (
"question.*"
);
}
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
properties = (
{
key = familyNames;
values = (
{
language = dflt;
value = "Vm Test 2026 Adobe Legacy";
}
);
}
);
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
}
);
properties = (
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright ArrowType 2026 (https://github.com/arrowtype/vertical-metrics). Font derived from Recursive (github.com/arrowtype/recursive).";
}
);
},
{
key = licenses;
values = (
{
language = dflt;
value = "This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL";
}
);
},
{
key = vendorID;
value = "@";
}
);
unitsPerEm = 1000;
versionMajor = 1;
versionMinor = 0;
}
