(
A,
Abreveacute,
Agrave,
Aring,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
ydotbelow,
z,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
.notdef,
question.gfminalt_agrave,
question.gfminalt_agrave_tallwin,
period,
comma,
colon,
semicolon,
exclam,
question,
asterisk,
question.gf,
question.gfmin,
question.gfminalt,
question.glyphsapp,
question.t1400,
question.t1400B,
question.t1400useTypo,
question.t1400B.001,
exclam.001,
question.001,
hyphen,
bar,
gravecomb,
ringcomb,
dotbelowcomb
)